# Add by wangcheng for recovery debug 2018.12.21
#on boot
#    chmod 777 /sbin/sh

on cali
    insmod /system/lib/modules/focaltech_ts.ko

	mkdir /data/gnss/ 0777 system system
	mkdir /data/gnss/bin/ 0777 system system
	mkdir /data/gnss/supl/ 0777 system system
	mkdir /data/gnss/config/ 0777 system system
	mkdir /data/gnss/lte/ 0777 system system
	chmod 666 /data/gnss/bin/gnssmodem.bin
	chmod 666 /data/gnss/config/config.xml
	chmod 666 /data/gnss/supl/supl.xml
	chmod 666 /data/gnss/supl/spirentroot.cer
	chmod 666 /data/gnss/lte/ext.eph
	chmod 666 /data/gnss/lte/jpleph.405
	chmod 666 /data/gnss/gnss.log
	chmod 666 /data/gnss/nmea.log
	chmod 666 /data/gnss/tsx.dat

service download /system/bin/download
    class cali
    user root
    group root

service gnss_download /system/bin/gnss_download
    class cali
    user system
    group system
    oneshot

on factorytest
	mkdir /data/gnss/ 0777 system system
	mkdir /data/gnss/bin/ 0777 system system
	mkdir /data/gnss/supl/ 0777 system system
	mkdir /data/gnss/config/ 0777 system system
	mkdir /data/gnss/lte/ 0777 system system
	chmod 666 /data/gnss/bin/gnssmodem.bin
	chmod 666 /data/gnss/config/config.xml
	chmod 666 /data/gnss/supl/supl.xml
	chmod 666 /data/gnss/supl/spirentroot.cer
	chmod 666 /data/gnss/lte/ext.eph
	chmod 666 /data/gnss/lte/jpleph.405
	chmod 666 /data/gnss/gnss.log
	chmod 666 /data/gnss/nmea.log
	chmod 666 /data/gnss/tsx.dat

service download-ft /system/bin/download
    class factorytest
    user root
    group root

service gnss_download-ft /system/bin/gnss_download
    class factorytest
    user root
    group root

# Add by wangcheng for recovery debug 2018.12.21
#service recoverysh /sbin/sh
#    console
#    disabled
#    user root
#    group root

#on property:ro.debuggable=1
#    start recoverysh
# --- End
